In [1]:
import pandas as pd
import numpy as np

In [3]:
early_24hr_aki=pd.read_csv("F:\TrainTest\EICU\Data_deal\early_24hr_aki.csv")
early_24hr_aki

       PatientStayID  unitdischargeoffset  24hr_AKI
0           242154.0                 8792     False
1           242290.0                 1656      True
2           242474.0                 1494     False
3           242505.0                 6920     False
4           242714.0                 2985     False
...              ...                  ...       ...
27934      3351486.0                12305     False
27935      3351989.0                 6500      True
27936      3352797.0                 8881     False
27937      3353097.0                 3881      True
27938      3353197.0                29871     False

[27939 rows x 3 columns]

In [4]:
early_24hr_comorbidity=pd.read_csv('F:\TrainTest\EICU\Data_deal\early_24hr_comorbidity.csv')
early_24hr_comorbidity

      PatientStayID  comorbidity_elixhauser
0          200001.0                      20
1          200028.0                      21
2          200035.0                      10
3          200040.0                      11
4          200049.0                      25
...             ...                     ...
5294       299933.0                      10
5295       299949.0                      12
5296       299950.0                      20
5297       299957.0                      18
5298       299979.0                       9

[5299 rows x 2 columns]

In [6]:
early_24hr_drug=pd.read_csv("F:\TrainTest\EICU\Data_deal\early_24hr_drug.csv")
early_24hr_drug

      PatientStayID  delirium_positive
0          200001.0                0.0
1          200016.0                0.0
2          200028.0                0.0
3          200034.0                1.0
4          200035.0                0.0
...             ...                ...
6804       299949.0                0.0
6805       299950.0                0.0
6806       299957.0                0.0
6807       299962.0                0.0
6808       299979.0                0.0

[6809 rows x 2 columns]

In [7]:
early_24hr_eicu=pd.read_csv("F:\TrainTest\EICU\Data_deal\early_24hr_eicu.csv")
early_24hr_eicu

,PatientStayID,Class,unitdischargeoffset_x,apachescore,gender,age,ethnicity,hospitalid,apacheadmissiondx,admissionheight,...,admissionweight,numbedscategory,teachingstatus,region,unitdischargeoffset_y,24hr_AKI,unitdischargeoffset_x.1,first_24hr_dialysis,unitdischargeoffset_y.1,first_24hr_surgical
0,242154,1,8792,77.0,Female,46.0,Caucasian,79,"Sepsis, pulmonary",157.48,...,53.09,4.0,0,2.0,8792,False,8792,0,8792,0
1,242290,0,1656,77.0,Female,75.0,Other/Unknown,79,"Sepsis, unknown",165.10,...,73.30,4.0,0,2.0,1656,True,1656,0,1656,0
2,242474,0,1494,64.0,Male,52.0,Native American,79,Drug withdrawal,177.80,...,94.00,4.0,0,2.0,1494,False,1494,0,1494,0
3,242505,1,6920,78.0,Female,90.0,Caucasian,79,"Sepsis, cutaneous/soft tissue",165.10,...,61.80,4.0,0,2.0,6920,False,6920,0,6920,0
4,242714,0,2985,-1.0,Male,78.0,Caucasian,79,"Hematoma, subdural",182.90,...,89.20,4.0,0,2.0,2985,False,2985,0,2985,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18300,3352193,0,1955,-1.0,Female,19.0,Other/Unknown,458,Head/face trauma,157.50,...,50.00,4.0,0,4.0,1955,False,1955,0,1955,0
18301,3352331,0,2204,48.0,Female,75.0,Caucasian,459,"CVA, cerebrovascular accident/stroke",167.60,...,97.52,2.0,0,4.0,2204,False,2204,0,2204,0
18302,3352964,0,2466,75.0,Female,85.0,Caucasian,459,"CHF, congestive heart failure",162.00,...,86.40,2.0,0,4.0,2466,False,2466,0,2466,0
18303,3353044,0,4788,41.0,Male,52.0,Caucasian,459,Drug withdrawal,175.00,...,52.00,2.0,0,4.0,4788,False,4788,0,4788,0
18304,3353077,0,6050,36.0,Female,60.0,African American,458,"Neoplasm, neurologic",165.10,...,120.60,4.0,0,4.0,6050,False,6050,0,6050,1

In [8]:
early_24hr_static_features=pd.read_csv("F:\TrainTest\EICU\Data_deal\early_24hr_static_features.csv")
early_24hr_static_features

,PatientStayID,unitdischargeoffset,apachescore,gender,age,ethnicity,hospitalid,apacheadmissiondx,admissionheight,hospitaladmittime24,...,hospitaladmitsource,unittype,unitadmittime24,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,numbedscategory,teachingstatus,region
0,242154.0,8792,77.0,Female,46.0,Caucasian,79,"Sepsis, pulmonary",157.48,17:27:00,...,Direct Admit,Med-Surg ICU,17:30:00,Direct Admit,1,admit,53.09,4.0,0,2.0
1,242290.0,1656,77.0,Female,75.0,Other/Unknown,79,"Sepsis, unknown",165.10,17:00:00,...,Direct Admit,Med-Surg ICU,17:00:00,Direct Admit,1,admit,73.30,4.0,0,2.0
2,242474.0,1494,64.0,Male,52.0,Native American,79,Drug withdrawal,177.80,15:21:00,...,NaN,Med-Surg ICU,15:21:00,Emergency Department,1,admit,94.00,4.0,0,2.0
3,242505.0,6920,78.0,Female,90.0,Caucasian,79,"Sepsis, cutaneous/soft tissue",165.10,23:51:00,...,Emergency Department,Med-Surg ICU,00:10:00,Emergency Department,1,admit,61.80,4.0,0,2.0
4,242714.0,2985,-1.0,Male,78.0,Caucasian,79,"Hematoma, subdural",182.90,18:18:00,...,Direct Admit,Med-Surg ICU,18:20:00,Direct Admit,1,admit,89.20,4.0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27934,3351486.0,12305,35.0,Female,25.0,Caucasian,458,Chest thorax only trauma,160.00,06:02:00,...,Emergency Department,SICU,08:25:00,Emergency Department,1,admit,83.90,4.0,0,4.0
27935,3351989.0,6500,53.0,Male,31.0,African American,458,Coma/change in level of consciousness (for hep...,195.60,02:26:00,...,Emergency Department,Cardiac ICU,06:14:00,Emergency Department,1,admit,208.70,4.0,0,4.0
27936,3352797.0,8881,NaN,Female,67.0,Caucasian,458,Atelectasis,167.60,18:40:00,...,Operating Room,MICU,21:58:00,Other ICU,2,transfer,81.00,4.0,0,4.0
27937,3353097.0,3881,89.0,Female,41.0,Caucasian,459,Coma/change in level of consciousness (for hep...,162.60,22:29:00,...,Floor,Med-Surg ICU,03:33:00,Floor,1,admit,91.00,2.0,0,4.0
27938,3353197.0,29871,NaN,Female,66.0,Caucasian,458,CABG with aortic valve replacement,157.50,06:38:00,...,Floor,CTICU,21:59:00,Operating Room,1,admit,71.50,4.0,0,4.0

In [10]:
early_24hr_temperature=pd.read_csv("F:\TrainTest\EICU\Data_deal\early_24hr_temperature.csv")
early_24hr_temperature

      PatientStayID  24hr_mean_temp  24hr_minimum_temp  24hr_maximum_temp
0          200001.0       37.175926          36.388889          37.666667
1          200016.0       36.092593          35.111111          37.222222
2          200028.0       36.829060          36.111111          37.666667
3          200034.0       36.270833          33.888889          38.000000
4          200035.0       36.907407          36.277778          37.222222
...             ...             ...                ...                ...
6804       299949.0       37.324074          37.000000          37.666667
6805       299950.0       36.777778          36.611111          36.888889
6806       299957.0       36.550000          35.500000          37.166667
6807       299962.0       36.527778          35.888889          36.944444
6808       299979.0       36.675926          36.222222          36.944444

[6809 rows x 4 columns]